header{
    /* background-color: rgb(99, 74, 211); */
    background-image: url(gate.jpg);
    backdrop-filter: brightness(50%);
    background-repeat: no-repeat;
    /* width: 100%; */
    background-size: 100% 110%;
    /* position: ; */
}
header nav{
    float: right;
    margin-right: 150px;
    margin-top: 100px;
    display: flex;
}
.logo{
    border-radius: 5%;
}
nav ul li{
    display: inline-block;
    width: 150px;
    font-size: 15px;
    position: relative;
    background-color: rgb(99, 74, 211);
    text-align: center;
    border-radius: 10%;
    font-size: 20px;
    }
    nav ul li a{
        display: block;
        text-decoration: none;
    color: white;
    }
nav ul li ul{
    position: absolute;
    list-style: none;
    display: none;
    text-decoration: none;
    padding: 0;
    margin 0; 
    
}
nav ul li ul li{
    display: inline-block;
    margin: 0;
    padding-top: 20px;

}
nav ul li:hover{
    /* display: block; */
    color: burlywood;
    background-color: blueviolet;
}
nav ul li:hover ul{
    display: block;
}
nav ul ul li a:hover{
    color: burlywood;

}
nav ul ul li a{
    color: white;
    text-decoration: none;
}

/* .button a{
    text-align: center;
    text-decoration: none;  
    background-color: lightblue;
} */

body{
    /* background-color: darkgray; */
    /* background-image: url(back.jpg); */
    /* backdrop-filter: brightness(50%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(158, 181, 255);
}
.baner{
    width: 100%;
    height: 500px;
    /* border-radius: 3%; */
}
.noti{
    text-align: center;
    margin: auto;
    color: white;
}
.noticontent{
    /* background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    border: solid;
    width: 900px;
    height: auto;
    text-align: start;
    margin: auto;
    background-color: rgb(248, 248, 248);
    border-radius: 3%;
    border-color: burlywood;

}
.noticontent img{
    display: block;
    margin: auto;
    border-radius: 5%;
}
.foot{
    border: solid;
    border-color: white;
    background-color: burlywood;
    text-align: center;
}
.foot ul li img{
   width: 50px;
   height: 50px;
   border-radius: 10%;
}
.foot ul li{
    list-style: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-top: 70px;
}
.noticontent1{

    border: solid;
    width: 100%;
    height: 50x;
    text-align: start;
    margin: auto;
    background-image: url(mission.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: rgb(248, 248, 248); */
    border-radius: 3%;
    border-color: burlywood;

}
.pri{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.insonl{
    background-color: beige;
    border: dotted;
}
.notibook{
    border: dotted;
    width: 100%;
    height: auto;
    text-align: start;
    margin: auto;
    background-color: rgb(248, 248, 248);
    border-color: burlywood;

}
.notibook ul{
    padding: 20px;
    margin-left: 20px;
}
/* .table{
    display: block;
    margin: auto;
} */
.tabhol{
    width: 900px;
    height: 500px;
    text-align: center;
    background-color: white;
}
.bustab{
    margin: auto;
    width: 700px; 
    height: 500px;
    text-align: center;
    background-color: yellow;
}
/* .trans{
    background-image: url(buss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.stu{

}
.stucou{
    margin: auto;
    width: 700px;
    text-align: center;
    height: 500px;
    background-color: white;
}
.routine {
    width: 700px;
    height: 500px;
    margin: auto;
    background-color: white;
    text-align: center;
}

/* 


*{
    padding: 0px;
    margin: 0px;
    }
    
    body{
        background-color: grey;
        border-style: outset;
        border-color: white;
        border-width: 10px;
    
    
    }
    .button{
        background-color: #37f;
        float: right;
        height: 60px;
        width: 300px;
       
    
    }
    .button a{
        color: white;
        text-decoration: none;
       
    }
    a img{
        float: left;
    }
    #nav-div{
        width: 100%;
        min-height: 50px;
        background-color: gray;
        text-align: center;
        line-height: 30px;
        margin-bottom: 10px;
    }
    #header{
        width: 100%;
        min-height: 40px;
        background-color: grey;
        line-height: 40px;
        text-align: center;
        margin-bottom: 10px;
    }
    .nav{
        text-align: center;
        padding: 10px 0px;
        background: #37f;
        text-decoration: none;
        list-style: none;
    }
    .main-menu>li{
        display: inline-block;
        padding: 10px 0px;
        margin-left: 10px;
        border-left: 3px solid white;
        color: white;
       width: 110px;
       transition: 4s;
       text-decoration: none;
       list-style: none;
    }
    .sub-menu{
        display: none;
        list-style: none;
        position: absolute;
        border: 5px solid white;
        margin-top: 30px;
        margin-left: -10px;
        text-align: left;
        box-shadow: 1px 1px 1px grey;
    }
    
    .sub-menu>li{
        padding: 10px;
        color: white;
    
    }
    .dropdown ul li a{
        text-decoration: none;
        color: white;
    }
    .main-menu li:hover, .sub-menu li:hover{
        background: #35c;
    }
    .main-menu li:hover .sub-menu{
        display: block;
    }
    .sub-menu:before{
        content: "";
        width: 0px;
        height: 0px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 30px solid white;
        position: absolute;
        margin: -30px 0px 60px;
    }
    #main{
        width: 100%;
      min-height: 450px;
        background-color: grey;
        margin-bottom: 20px;
    
    }
    #footer{
        width: 100%;
        min-height: 100px;
        background-color: grey;
    }
    
    
    .btn{
        background-color: #37f;
        height: 60px;
        width: 200px;
       
    
    }
    .btn a{
        color: white;
        text-decoration: none;
       
    }
    .top{
        float: right;
    }
 */
