body {
    background-color: rgba(207, 31, 31, 0.597);
}

h1 {
    font: bold;
    color: #1b15ca;
}

.container {
    border radius: 25px;
    Background: grey;
    padding: 20px;
    width: 500px;
    height: 120px;
}

.container1 {
    border radius: 25px;
    Background: grey;
    padding: 20px;
    width: 500px;
    height: 150px;
}

.container2 {
    border radius: 25px;
    Background: grey;
    padding: 20px;
    width: 500px;
    height: 120px;
}

.container3 {
    border radius: 25px;
    Background: grey;
    padding: 20px;
    width: 500px;
    height: 50px;
}

.admission {
    border radius: 25px;
    Background: grey;
    padding: 20px;
    width: 500px;
    height: 300px;
}

.container7 {
    border radius: 25px;
    Background: grey;
    padding: 20px;
    width: 500px;
    height: 60px;
}

.container8 {
    border radius: 25px;
    Background: grey;
    padding: 20px;
    width: 500px;
    height: 300px;
}

.submit {
    border: 40px;
    Background: green;
    padding: 30px;
    width: 60px;
    height: 20px;
    font-size: 12px;
}

.prev {
    border radius: 25px;
    Background: yellowgreen;
    padding: 20px;
    width: 80px;
}